# Introduction to pandas

**pandas** is an open-source Python library for working with and analyzing tabular data (similar to Excel spreadsheets) and time series.
It is extremely useful in medical research because it makes it easy to handle patient data, lab results, ICU data, and many other clinical datasets.

pandas is built around two main data structures:

- **Series** → A one-dimensional array with labels (like a single column in a table).
- **DataFrame** → A two-dimensional tabular structure with labeled rows and columns (like a full table).


## Why pandas?

- Efficient handling of **messy real-world data** (missing values, duplicates, different formats).
- High compatibility with other Python libraries (e.g., `matplotlib`, `seaborn`, `scikit-learn`).
- Widely considered the **de facto standard** for tabular data in Python.
A great starting point is the official [10-Minute Tutorial](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html).



## Alternatives to pandas

While pandas is the most common tool, there are alternatives:
- **Dask** – for parallel processing of very large datasets (bigger than your computer’s memory). Often used in big data and machine learning pipelines.
- **Polars** – a modern, very fast data analysis library with increasing compatibility to pandas-like operations.

**Import pandas**

In [1]:
import pandas as pd

## Creating a DataFrame with a dictionary

We usually work with **DataFrames** in pandas.
A DataFrame can be created from many sources:
- Python dictionaries
- Excel or CSV files
- Databases
- JSON or APIs

Here we create a simple patient dataset as a dictionary and load it into a DataFrame.

In [2]:
# Example: Patient data
data_dict = {
    "patient_id": [1, 2, 3, 4, 5],
    "name": ["Anna", "Ben", "Clara", "Max", "Julia"],
    "age": [65, 42, 82, 34, 27],
    "gender": ["F", "M", "F", "M", "F"],
    "admission_date": ["2024-12-01", "2024-09-15", "2024-10-31", "2024-05-03", "2024-02-07"],
    "blood_pressure": [120, 145, 130, 134, 126]
}

patients = pd.DataFrame(data=data_dict)

patients

   patient_id   name  age gender admission_date  blood_pressure
0           1   Anna   65      F     2024-12-01             120
1           2    Ben   42      M     2024-09-15             145
2           3  Clara   82      F     2024-10-31             130
3           4    Max   34      M     2024-05-03             134
4           5  Julia   27      F     2024-02-07             126

## Exploring a DataFrame

pandas offers many methods to **explore and understand your dataset**.

- `.info()` → metadata: number of rows, columns, data types, missing values
- `.head(n)` → shows the first `n` rows (default = 5)
- `.tail(n)` → shows the last `n` rows
- `.describe()` → summary statistics (mean, min, max, standard deviation) for numeric columns

In [3]:
# Show metadata
patients.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   patient_id      5 non-null      int64
 1   name            5 non-null      object
 2   age             5 non-null      int64
 3   gender          5 non-null      object
 4   admission_date  5 non-null      object
 5   blood_pressure  5 non-null      int64
dtypes: int64(3), object(3)
memory usage: 372.0+ bytes

In [4]:
# Show first 2 rows
patients.head(2)

   patient_id  name  age gender admission_date  blood_pressure
0           1  Anna   65      F     2024-12-01             120
1           2   Ben   42      M     2024-09-15             145

In [5]:
# Show last 2 rows
patients.tail(2)

   patient_id   name  age gender admission_date  blood_pressure
3           4    Max   34      M     2024-05-03             134
4           5  Julia   27      F     2024-02-07             126

In [6]:
# Summary statistics
patients.describe().transpose()

                count   mean        std    min    25%    50%    75%    max
patient_id        5.0    3.0   1.581139    1.0    2.0    3.0    4.0    5.0
age               5.0   50.0  22.901965   27.0   34.0   42.0   65.0   82.0
blood_pressure    5.0  131.0   9.380832  120.0  126.0  130.0  134.0  145.0

## Selecting Columns and Rows

You can select columns and rows in different ways.

In [7]:
### Column names
patients.columns

Index(['patient_id', 'name', 'age', 'gender', 'admission_date',
       'blood_pressure'],
      dtype='object')

In [8]:
### Row index
patients.index

RangeIndex(start=0, stop=5, step=1)

By default, pandas assigns a numeric index (0, 1, 2...).
We can also use an existing column (like `patient_id`) as the index.

In [9]:
patients_new = patients.set_index("patient_id")
patients_new.head()

             name  age gender admission_date  blood_pressure
patient_id
1            Anna   65      F     2024-12-01             120
2             Ben   42      M     2024-09-15             145
3           Clara   82      F     2024-10-31             130
4             Max   34      M     2024-05-03             134
5           Julia   27      F     2024-02-07             126

### Selecting Columns

We can select:
- A single column → returns a **Series**
- Multiple columns → returns a **DataFrame**

In [10]:
# One column
patients_new["age"]

patient_id
1    65
2    42
3    82
4    34
5    27
Name: age, dtype: int64

In [11]:
# Multiple columns
patients_new[["age", "blood_pressure"]]

            age  blood_pressure
patient_id
1            65             120
2            42             145
3            82             130
4            34             134
5            27             126

### Row Selection (Label-based with loc)

With `.loc[]`, we can select rows by their **labels** (patient_id in this case).

In [12]:
# Select patient with ID 1
patients_new.loc[1]

name                    Anna
age                       65
gender                     F
admission_date    2024-12-01
blood_pressure           120
Name: 1, dtype: object

In [13]:
# Select multiple patients
patients_new.loc[[1, 3]]

             name  age gender admission_date  blood_pressure
patient_id
1            Anna   65      F     2024-12-01             120
3           Clara   82      F     2024-10-31             130

In [14]:
# Select rows + specific columns
patients_new.loc[[1,2], ["age", "blood_pressure"]]

            age  blood_pressure
patient_id
1            65             120
2            42             145

### Row Selection (Integer-based with iloc)

With `.iloc[]`, we select rows and columns by their **integer positions**.

In [15]:
# First row (position 0)
patients_new.iloc[0]

name                    Anna
age                       65
gender                     F
admission_date    2024-12-01
blood_pressure           120
Name: 1, dtype: object

In [16]:
# First and third row, first two columns
patients_new.iloc[[0, 2], :2]

             name  age
patient_id
1            Anna   65
3           Clara   82

### Boolean Indexing (Filtering Rows)

Boolean indexing allows us to filter rows based on conditions.

In [17]:
# All female patients
patients_new[patients_new["gender"] == "F"]

             name  age gender admission_date  blood_pressure
patient_id
1            Anna   65      F     2024-12-01             120
3           Clara   82      F     2024-10-31             130
5           Julia   27      F     2024-02-07             126

In [18]:
# Patients older than 50
patients_new[patients_new["age"] > 50]

             name  age gender admission_date  blood_pressure
patient_id
1            Anna   65      F     2024-12-01             120
3           Clara   82      F     2024-10-31             130

In [19]:
# Combine conditions: female patients older than 50
patients_new[(patients_new["gender"] == "F") & (patients_new["age"] > 50)]

             name  age gender admission_date  blood_pressure
patient_id
1            Anna   65      F     2024-12-01             120
3           Clara   82      F     2024-10-31             130

## Exercise

1. Select all patients younger than or equal to 35 **and** patients older than 70 years old.
2. Show only the `name` and `blood_pressure` columns for patients admitted after July 2024.
3. Use `.iloc` to return the **first two rows** and the **last two columns**.